{% extends "base.html" %}
{% load static %}
{% block title %} Admin{% endblock title %}

{% block content %}     

    <!-- Page content -->
    <div id="page-content"> 
            <!-- Datatables Header -->
            <div class="content-header">
                <div class="header-section">
                    <h1>
                            Units
                    </div>
                </div>
                <ul class="breadcrumb breadcrumb-top">
                    <li>Manage Resources </li>
                    <li><a href="#">Units</a></li>
                </ul>
                <!-- END Datatables Header -->

                <!-- Datatables Content -->
                <div class="block full">
                    <div class="block-title">
                        <h2><strong>Units</strong> integration</h2>
                        <p class="AddNew"><b><a href="#" onclick="$('#myModal').modal('show');">ADD NEW +</a> </b></p>
                    </div>
                    <p>Admin Can Add / edit and Delete Units and Assign Base Units</p>

                    <div class="table-responsive">
                        <table id="example" class="table table-vcenter table-condensed table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">Units Name</th>
                                    <th class="text-center">Base Units</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                                </thead>
                            <tbody class="text-center">
                                <tr>
                                    <td>1</td>
                                    <td>Units Name 1</td>
                                    <td>Base Units 3</td>
                                    <td><label class="switch switch-primary"><input type="checkbox" checked><span></span></label></td>
                                    <td>                                                <div class="btn-group">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div></td>
                                </tr>
                                                                    <tr>
                                    <td>1</td>
                                    <td>Units Name 1</td>
                                    <td>Base Units 3</td>
                                    <td><label class="switch switch-primary"><input type="checkbox" checked><span></span></label></td>
                                    <td>                                                <div class="btn-group">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div></td>
                                </tr>
                                                                    <tr>
                                    <td>1</td>
                                    <td>Units Name 1</td>
                                    <td>Base Units 3</td>
                                    <td><label class="switch switch-primary"><input type="checkbox" checked><span></span></label></td>
                                    <td>                                                <div class="btn-group">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div></td>
                                </tr>
                                                                    <tr>
                                    <td>1</td>
                                    <td>Units Name 1</td>
                                    <td>Base Units 3</td>
                                    <td><label class="switch switch-primary"><input type="checkbox" checked><span></span></label></td>
                                    <td>                                                <div class="btn-group">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div></td>
                                </tr>
                                                                    <tr>
                                    <td>1</td>
                                    <td>Units Name 1</td>
                                    <td>Base Units 3</td>
                                    <td><label class="switch switch-primary"><input type="checkbox" checked><span></span></label></td>
                                    <td>                                                <div class="btn-group">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div></td>
                                </tr>
                                                                    <tr>
                                    <td>1</td>
                                    <td>Units Name 1</td>
                                    <td>Base Units 3</td>
                                    <td><label class="switch switch-primary"><input type="checkbox" checked><span></span></label></td>
                                    <td>                                                <div class="btn-group">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div></td>
                                </tr>
                                                                    <tr>
                                    <td>1</td>
                                    <td>Units Name 1</td>
                                    <td>Base Units 3</td>
                                    <td><label class="switch switch-primary"><input type="checkbox" checked><span></span></label></td>
                                    <td>                                                <div class="btn-group">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div></td>
                                </tr>
                                                                    <tr>
                                    <td>1</td>
                                    <td>Units Name 1</td>
                                    <td>Base Units 3</td>
                                    <td><label class="switch switch-primary"><input type="checkbox" checked><span></span></label></td>
                                    <td>                                                <div class="btn-group">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div></td>
                                </tr>
                                                                    <tr>
                                    <td>1</td>
                                    <td>Units Name 1</td>
                                    <td>Base Units 3</td>
                                    <td><label class="switch switch-primary"><input type="checkbox" checked><span></span></label></td>
                                    <td>                                                <div class="btn-group">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div></td>
                                </tr>
                                                                    <tr>
                                    <td>1</td>
                                    <td>Units Name 1</td>
                                    <td>Base Units 3</td>
                                    <td><label class="switch switch-primary"><input type="checkbox" checked><span></span></label></td>
                                    <td>                                                <div class="btn-group">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div></td>
                                </tr>
                                                                    <tr>
                                    <td>1</td>
                                    <td>Units Name 1</td>
                                    <td>Base Units 3</td>
                                    <td><label class="switch switch-primary"><input type="checkbox" checked><span></span></label></td>
                                    <td>                                                <div class="btn-group">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div></td>
                                </tr>
                                                                    <tr>
                                    <td>1</td>
                                    <td>Units Name 1</td>
                                    <td>Base Units 3</td>
                                    <td><label class="switch switch-primary"><input type="checkbox" checked><span></span></label></td>
                                    <td>                                                <div class="btn-group">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div></td>
                                </tr>
                                                                    <tr>
                                    <td>1</td>
                                    <td>Units Name 1</td>
                                    <td>Base Units 3</td>
                                    <td><label class="switch switch-primary"><input type="checkbox" checked><span></span></label></td>
                                    <td>                                                <div class="btn-group">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div></td>
                                </tr>
                                                                    <tr>
                                    <td>1</td>
                                    <td>Units Name 1</td>
                                    <td>Base Units 3</td>
                                    <td><label class="switch switch-primary"><input type="checkbox" checked><span></span></label></td>
                                    <td>                                                <div class="btn-group">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div></td>
                                </tr>
                                                                    <tr>
                                    <td>1</td>
                                    <td>Units Name 1</td>
                                    <td>Base Units 3</td>
                                    <td><label class="switch switch-primary"><input type="checkbox" checked><span></span></label></td>
                                    <td>                                                <div class="btn-group">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div></td>
                                </tr>
                                                                    <tr>
                                    <td>1</td>
                                    <td>Units Name 1</td>
                                    <td>Base Units 3</td>
                                    <td><label class="switch switch-primary"><input type="checkbox" checked><span></span></label></td>
                                    <td>                                                <div class="btn-group">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div></td>
                                </tr>
                                                                    <tr>
                                    <td>1</td>
                                    <td>Units Name 1</td>
                                    <td>Base Units 3</td>
                                    <td><label class="switch switch-primary"><input type="checkbox" checked><span></span></label></td>
                                    <td>                                                <div class="btn-group">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div></td>
                                </tr>
                                                                    <tr>
                                    <td>1</td>
                                    <td>Units Name 1</td>
                                    <td>Base Units 3</td>
                                    <td><label class="switch switch-primary"><input type="checkbox" checked><span></span></label></td>
                                    <td>                                                <div class="btn-group">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div></td>
                                </tr>
                                                                    <tr>
                                    <td>1</td>
                                    <td>Units Name 1</td>
                                    <td>Base Units 3</td>
                                    <td><label class="switch switch-primary"><input type="checkbox" checked><span></span></label></td>
                                    <td>                                                <div class="btn-group">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div></td>
                                </tr>
                                                                    <tr>
                                    <td>1</td>
                                    <td>Units Name 1</td>
                                    <td>Base Units 3</td>
                                    <td><label class="switch switch-primary"><input type="checkbox" checked><span></span></label></td>
                                    <td>                                                <div class="btn-group">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div></td>
                                </tr>
                                                                    <tr>
                                    <td>1</td>
                                    <td>Units Name 1</td>
                                    <td>Base Units 3</td>
                                    <td><label class="switch switch-primary"><input type="checkbox" checked><span></span></label></td>
                                    <td>                                                <div class="btn-group">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div></td>
                                </tr>
                                                                    <tr>
                                    <td>1</td>
                                    <td>Units Name 1</td>
                                    <td>Base Units 3</td>
                                    <td><label class="switch switch-primary"><input type="checkbox" checked><span></span></label></td>
                                    <td>                                                <div class="btn-group">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div></td>
                                </tr>
                                                                    <tr>
                                    <td>1</td>
                                    <td>Units Name 1</td>
                                    <td>Base Units 3</td>
                                    <td><label class="switch switch-primary"><input type="checkbox" checked><span></span></label></td>
                                    <td>                                                <div class="btn-group">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div></td>
                                </tr>
                                                                    <tr>
                                    <td>1</td>
                                    <td>Units Name 1</td>
                                    <td>Base Units 3</td>
                                    <td><label class="switch switch-primary"><input type="checkbox" checked><span></span></label></td>
                                    <td>                                                <div class="btn-group">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div></td>
                                </tr>
                                                                    <tr>
                                    <td>1</td>
                                    <td>Units Name 1</td>
                                    <td>Base Units 3</td>
                                    <td><label class="switch switch-primary"><input type="checkbox" checked><span></span></label></td>
                                    <td>                                                <div class="btn-group">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div></td>
                                </tr>
                                                                    <tr>
                                    <td>1</td>
                                    <td>Units Name 1</td>
                                    <td>Base Units 3</td>
                                    <td><label class="switch switch-primary"><input type="checkbox" checked><span></span></label></td>
                                    <td>                                                <div class="btn-group">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div></td>
                                </tr>
                                                                    <tr>
                                    <td>1</td>
                                    <td>Units Name 1</td>
                                    <td>Base Units 3</td>
                                    <td><label class="switch switch-primary"><input type="checkbox" checked><span></span></label></td>
                                    <td>                                                <div class="btn-group">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div></td>
                                </tr>
                                                                    <tr>
                                    <td>1</td>
                                    <td>Units Name 1</td>
                                    <td>Base Units 3</td>
                                    <td><label class="switch switch-primary"><input type="checkbox" checked><span></span></label></td>
                                    <td>                                                <div class="btn-group">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div></td>
                                </tr>
                                                                    <tr>
                                    <td>1</td>
                                    <td>Units Name 1</td>
                                    <td>Base Units 3</td>
                                    <td><label class="switch switch-primary"><input type="checkbox" checked><span></span></label></td>
                                    <td>                                                <div class="btn-group">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END Datatables Content -->
            </div>
            <!-- END Page Content -->        




    

    <!-- Modal -->
    <div id="myModal" class="modal fade" tabindex="-2" role="dialog" aria-hidden="true">
      <div class="modal-dialog animation-slideDown">

        <!-- Modal content-->
        <div class="modal-content CustomModal">
          <div class="modal-body">
            <div id="loginCustom">
                <!-- Login Title -->
                <div class="login-title text-right">
                    <h1>
                        <i class="Unitsss fa fa-cube pull-left"></i>
                        <strong>Manage</strong> Units<br>
                        <br>
                    </h1>
                    </div>
                    <!-- END Login Title -->

                    <!-- Login Block -->
                    <div class="block">
                        <form action="#" method="post" class="form-horizontal form-bordered" onsubmit="return false;">
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="example-hf-text">Unit Name</label>
                                <div class="col-md-9">
                                    <input type="text" id="example-hf-text" name="example-hf-text" class="form-control" placeholder="Enter unit name">
                                    <span class="help-block">Please enter unit name</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="example-hf-text">Base Unit</label>
                                <div class="col-md-9">
                                    <select id="example-chosen" name="example-chosen" class="select-chosen" data-placeholder="Choose Base Unit" style="width: 250px;">
                                        <option></option><!-- Required for data-placeholder attribute to work with Chosen plugin -->
                                        <option value="Base Unit 1">Base Unit 1</option>
                                        <option value="Base Unit 2">Base Unit 2</option>
                                        <option value="Base Unit 3">Base Unit 3</option>
                                        <option value="Base Unit 4">Base Unit 4</option>
                                        <option value="Base Unit 5">Base Unit 5</option>
                                        <option value="Base Unit 6">Base Unit 6</option>
                                        <option value="Base Unit 7">Base Unit 7</option>
                                        <option value="Base Unit 8">Base Unit 8</option>
                                    </select>
                                    <span class="help-block">Please select base unit</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="example-hf-text">Status</label>
                                <div class="col-md-9">
                                    <label class="switch switch-primary">
                                        <input type="checkbox" checked=""><span></span></label>
                                </div>
                            </div>
                            <div class="form-group form-actions">
                                <div class="col-md-9 col-md-offset-3">
                                    <button type="submit" class="btn btn-sm btn btn-success"><i class="fa fa-save"></i> Submit</button>
                                    <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-times"></i> Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- END Login Block -->
                </div>
            </div>
        </div>

    </div>
</div>



{% endblock content %}

<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'js/vendor/jquery.min.js' %}"></script>
<script src="{% static 'js/pages/tablesDatatables.js' %}"></script>

{% block scripts  %}
    
<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable();
        $('input[type="search"]').attr('placeholder', 'Search here');
        $('input[type="search"]').addClass('searchh');

    } );
</script>
{% endblock scripts  %}

