{% extends "base.html" %}
{% load static %}
{% block title %} Admin{% endblock title %}

{% block content %}
    
    <!-- Page content -->
    <div id="page-content">
            <!-- Datatables Header -->
            <div class="content-header">
                <div class="header-section">
                    <h1>
                        Wastage Type
                </div>
            </div>
            <ul class="breadcrumb breadcrumb-top">
                <li>Manage Resources</li>
                <li><a href="#">Wastage Type</a></li>
            </ul>
            <!-- END Datatables Header -->

            <!-- Datatables Content -->
            <div class="block full">
                <div class="block-title">
                    <h2><strong>Wastage Type</strong> integration</h2>
                    <p class="AddNew"><b><a href="#" onclick="show_wastageType_modal()">ADD NEW +</a> </b></p>
                </div>
                <p>Admin Can Add / edit and Delete Units and Assign Wastage Types</p>

                <div class="table-responsive">
                    <table id="wastageType_datatable" class="table table-vcenter table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">Wastage Type</th>
                                <th class="text-center">Description</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Actions</th>
                            </tr>
                            </thead>
                        <tbody class="text-center">

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END Datatables Content -->
        </div>
        <!-- END Page Content -->

<!-- Modal -->
<div id="myModal" class="modal fade" tabindex="-2" role="dialog" aria-hidden="true">
    <div class="modal-dialog animation-slideDown">
        <!-- Modal content-->
        <div class="modal-content CustomModal">
        <div class="modal-body">
            <div id="loginCustom">
                <!-- Login Title -->
                <div class="login-title text-right">
                    <h1>
                        <i class="Unitsss fa fa-trash pull-left"></i>
                        <strong>Manage</strong> Wastage Type<br>
                        <br>
                    </h1>
                </div>
                <!-- END Login Title -->

                <!-- Login Block -->
                <div class="block">
                                <form method="post" class="form-horizontal form-bordered" onsubmit="$('.error').remove();">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="wastageType-name">Waste Type</label>
                                        <div class="col-md-9">
                                            <input type="text" id="wastageType-name" name="wastageType-name" class="form-control" placeholder="Enter waste type">
                                            <span class="help-block">Please enter wastage type</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="description">Description</label>
                                        <div class="col-md-9">
                                            <input type="text" id="description" name="description" class="form-control" placeholder="Enter description">
                                            <span class="help-block">Please enter description</span>
                                        </div>
                                    </div>
                                    <input hidden id="hidden_wastageType_id">
                                    <!-- <div class="form-group">
                                        <label class="col-md-3 control-label" for="example-hf-text">Status</label>
                                        <div class="col-md-9">
                                            <label class="switch switch-primary">
                                                <input type="checkbox" checked=""><span></span></label>
                                        </div>
                                    </div> -->
                                    <div class="form-group form-actions">
                                        <div class="col-md-9 col-md-offset-3">
                                            <button type="submit" class="btn btn-sm btn btn-success" id="save-wastageType"><i class="fa fa-save"></i> Submit</button>
                                            <button type="button" class="btn btn-sm btn btn-success" id="update-wastageType" style="display:none;">
                                                <i class="fa fa-save"></i>Update
                                            </button>
                                            <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-times"></i> Reset</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- END Login Block -->
                        </div>
                    </div>
                </div>
            </div>
    </div>



{% endblock content %}
        

<!-- Load and execute javascript code used only in this page -->
{% block js_block %}
<script src="{% static 'js/pages/manage_resources/wastageType.js' %}"></script>
{% endblock %}